%p
  %h1
    = @post.title.html_safe
.row
  .container
    = @post.body.html_safe
.row
  .container
    .btn-group
      = link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary"
      = link_to 'Back', posts_path, :class => "btn btn-secondary"
%hr
.row
  .container
    %h3 Comments
    - @post.comments.each do |comment|
      %p
        = comment.content
      %hr
