%p
  %h1
    = @post.title.html_safe
%p
  %b
    = @post.body.html_safe
%p
  %h3 Comments
- @post.comments.each do |comment|
  %p
    = comment.content
  %hr

= link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary"
= link_to 'Back', posts_path, :class => "btn btn-secondary"
